<app-loader *ngIf="loading"></app-loader>

<main *ngIf="!loading">
    <app-title section='Equipos'></app-title>

    <mat-list *ngIf="!loading">
        <div *ngFor="let team of teams">
            <mat-list-item class="team">
                <div (click)="viewTeam(team.id)" class="team__data">
                    <div class="team__img">
                        <img src="{{team['Logo del Equipo']}}" alt="Imágen del equipo">
                    </div>
                    <span class="team__name">{{team['Nombre del equipo']}}</span>
                </div>
                    <section class="team__options">
                    <button class="btn btn__del" (click)="delTeam(team)">
                        <i class="fas fa-times"></i>
                    </button>
                    <button class="btn btn__edit" routerLink="/edit/teams/{{team.id}}">
                        <i class="fas fa-user-edit"></i>
                    </button>
                </section>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
    <app-new-button (new)="newTeam()"></app-new-button>
</main>